* {
    margin: auto;
    padding: 0px;
}
#show_row_col-md-2{
    /*position: absolute ;*/
    /*top: 16%;*/
    /*!*left: 5%;*!*/
    /*bottom: 50%;*/
    margin-top:2.6%;
    right: 42%;
}
#show_row_col-md-10{
    position: absolute ;
    left:16%;
}
#row_contend{
    background-color: rgba(11,34,54,0.41);

}
#btntrangchu {
    width: 110%
}
#row_contend h2{
    font-size: 500%;
    text-align: center;
}
#row_show a{
    text-decoration: none;
}

#table_show {
    margin-top: 3%;
    border: #fb3abc solid 2px;
}
button{
    width: 50%;
    text-align: center;
}
#table_show tr{
    text-align: center;
}
